<% if(/^\/self|^\/other/.test(active)){ %>
<div data-my-data="currentUser">
    <%= JSON.stringify(currentUser) %>
</div>
<div data-my-data="idolList">
    <%= JSON.stringify(idolList) %>
</div>
<div data-my-data="fansList">
    <%= JSON.stringify(fansList) %>
</div>
<% } %>
<script>
    window.data = {}
    //  初始化數據
    init_data()

    //  初始化數據
    function init_data() {
        $(`[data-my-data]`).each((index, el) => {
            let $el = $(el)
            let prop = $el.data('my-data')
            try {
                window.data[prop] = JSON.parse($el.text())
            } catch (e) {
                window.data[prop] = undefined
            }
        })
        $('#data').remove()
    }
</script>