/* throttle.css */
@keyframes throttle {
    from {
        color: red;
        pointer-events: none;
    }
    to {
        color: green;
        pointer-events: all;
    }
}

button.throttle {
    animation: throttle 1s step-end forwards;
}
button.throttle:active {
    animation: none;
}

button:disabled {
    color: red;
    background: red;
    width: 200px;
    height: 400px;
}