* {
    font-family: 'Libre Baskerville', 'Martian Mono', monospace;
}

body {
    background: rgb(216, 62, 15);
}

.main, .footer {
    background: rgb(219, 159, 159);
    padding: 1rem;
}
.main {
    margin-top: 4rem;
}
.footer {
    margin-top: 1rem;
}