<%% let G_CONST = JSON.parse('{"API":{"CREATE_COMMENT":"/api/comment","REMOVE_COMMENT":"/api/comment"},"CLASS":{"BLOG_CONTENT":"editor-content-view","COMMENT_LIST":"comment-list","COMMENT_EDITOR_CONTAINER":"editor-container","COMMENT_LIST_CONTAINER":"comment-list-container","COMMENT_ITEM_CONTAINER":"comment-item-container","COMMENT_ITEM_CONTENT":"comment-item-content"},"DATASET":{"KEY":{"COMMENT_ID":"comment_id","EDITOR_ID":"editor_id","REMOVE_COMMENT":"remove","PID":"pid"}},"REG":{"BLOG_CONTENT_TRIM":{}}}') %>
<%% tree.forEach( comment => { %>
<%% if (comment.html || comment.reply.length) { %>
<!-- comment-box 是一個留言串的 container -->
<div class="<%%= G_CONST.CLASS.COMMENT_ITEM_CONTAINER %>">
  <%%= ejs_template.comment.item({...comment, me_id, author_id}) %>
  <!-- reply-box 是這個留言的回覆串 -->
  <div class="<%%= G_CONST.CLASS.COMMENT_EDITOR_CONTAINER %>" data-<%%= G_CONST.DATASET.KEY.PID %>="<%%= comment.id %>"></div>
  <div class="comment-list" data-<%%= G_CONST.DATASET.KEY.PID %>="<%%= comment.id %>">
    <%% if(comment.reply.length){ %>
    <%%= ejs_template.comment.tree({ tree: comment.reply, me_id, author_id, ejs_template }) %>
    <%% } %>
  </div>
</div>
<%% } %>
<%% }) %>