<%% let G_CONST = JSON.parse('{"API":{"CREATE_COMMENT":"/api/comment","REMOVE_COMMENT":"/api/comment"},"CLASS":{"COMMENT_LIST":"comment-list","COMMENT_EDITOR_CONTAINER":"editor-container","COMMENT_LIST_CONTAINER":"comment-list-container","COMMENT_ITEM_CONTAINER":"comment-item-container","COMMENT_ITEM_CONTENT":"comment-item-content"},"DATASET":{"KEY":{"COMMENT_ID":"comment_id","EDITOR_ID":"editor_id","REMOVE_COMMENT":"remove","PID":"pid"}},"REG":{"BLOG_CONTENT_TRIM":{}}}') %>
<div class="<%%= G_CONST.CLASS.COMMENT_ITEM_CONTENT %>">
  <%% if (isDeleted || !html) { %>
  <div>
    <p>此留言已刪除</p>
  </div>
  <div>
    By<a href="/other/<%%= commenter.id %>"><%%= commenter.nickname %></a> 於 <%%= time %> 刪除
  </div>
  <%% } else { %>
  <%%= html %>
  <div>
    By<a href="/other/<%%= commenter.id %>"><%%= commenter.nickname %></a> 於 <%%=time%> 發佈
    <button>回覆</button>
    <%% if( isLogin && me_id === commenter.id ){ %>
    <button data-<%%= G_CONST.DATASET.KEY.REMOVE_COMMENT %>="<%%=id%>">刪除</button>
    <%% } %>
  </div>
  <%% } %>
</div>