<% for( type in relationShip){ %>
<% let list = relationShip[type] %>
<div class="card">
  <div class="card-header">
    <h5><%= type === "fansList" ? "粉絲" : "偶像" %>列表</h5>
  </div>
  <div id=<%= type %> class="card-body">
    <% if(list.length) {%>
    <ul class="list-group list-group-horizontal">
      <% list.forEach( user => { %>
      <%- ejs_template.relationship_item({ user }) %>
      <% }) %>
    </ul>
    <% } else { %>
    <p>很遺憾，列表裡沒有人</p>
    <% } %>
  </div>
</div>
<% } %>