<% for( type in relationShip){ %>
<% let list = relationShip[type] %>
<div class="relationShip-box">
  <h3><%= type === --CONS.SERVER.RELATIONSHIP.TYPE.FANSLIST-- ? "粉絲" : "偶像" %>列表</h3>
  <div id=<%= type %> class="relationShip-list-box">
    <% if(list.length) {%>
    <ul>
      <% list.forEach( user => { %>
      <%- ejs_template.relationship_item({ user }) %>
      <% }) %>
    </ul>
    <% } else { %>
    <p>很遺憾，列表裡沒有人</p>
    <% } %>
  </div>
</div>
<% } %>