<a class="nav-link dropdown-toggle" href="#" id="newsDropdown" role="button" data-bs-toggle="dropdown"
    data-bs-auto-close="outside" aria-expanded="false">
    通知
    <span
        class="position-absolute translate-middle badge rounded-pill bg-danger news-count">
        
    </span>
</a>
<!-- 通知列表 -->
<ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="newList">

    <!-- 新通知標題 -->
    <li class="dropdown-item " id="unconfirm-news-title">新通知</li>

   
    <!-- 先前通知的標頭 -->
    <li class="dropdown-item " id="confirm-news-title">先前的通知</li>

   
    
    

    
</ul>