<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(blogs.length) { %>
    <ul>
        <% for( blog of blogs){ %>
        <li>
            <a href="/blog/edit/<%= blog.id %>"><%= blog.title %></a>
        </li>
        <% } %>
    </ul>
    <% }else{ %>
        <p>目前沒有文章唷</p>
    <% } %>
</body>

</html>