<%- include('wedgets/common/header') %>

<body>
    <%- include('wedgets/navbar/index') %>
    <div class="container">
        <h3>修改個人資訊</h3>
        <form class="row">
            <div class="col-8 mx-auto">
                <div class="mb-3">
                    <label class="form-label w-100">信箱
                        <input type="text" class="form-control" name="email" aria-describedby="email_help"
                            autocomplete="off">
                        <div class="d-block">&nbsp;</div>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label w-100">密碼
                        <input type="password" class="form-control" name="password" data-retry='yes'
                            autocomplete="new-password">
                        <div class="d-block">&nbsp;</div>
                    </label>
                </div>
                <div class="mb-3">
                    <label for="nickname" class="form-label">暱稱
                        <input type="text" class="form-control" name="nickname" autocomplete="off">
                        <div class="d-block">&nbsp;</div>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label w-100">年齡
                        <input type="number" class="form-control" name="age" autocomplete="off">
                        <div class="d-block">&nbsp;</div>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label w-100">頭像
                        <input type="file" id="avatar" class="form-control" name="avatar" autocomplete="off">
                        <div class="d-block">&nbsp;</div>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">送出</button>
            </div>
        </form>
    </div>

    <%- include('wedgets/cdn') %>
    <!-- 引入 Spark-MD5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.2/spark-md5.min.js"></script>
    <!-- 引入 Ajv -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.11.0/ajv7.min.js"
        integrity="sha512-NGcX0dMSiOACZ7t7BKTSSoL2vnVKAp5mG+M8gK1vZQGwJtzbLQba1eniSXdez+WfDtcrxBUEo143DV297oAnbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <script>
        $(function () {
            let $avatar = $('#avatar')
            let $form = $('form').first()
            let $listOfPayload = $('input:not([type=file])')
            let $submit = $('[type=submit]')

            //  初始化 window.valicate，用來校驗 input 資料
            init_valicatorForInput()

            //  重製 window.payload，用來存放 upload 時的 avatar 部分數據
            resetPayload()

            $listOfPayload.on('input', handle_valicate)
            $avatar.on('click', handle_resetAvatar)
            $avatar.on('change', handle_valicator_avatar)
            $form.on('submit', handle_update)

            //  handle - 送出更新數據
            async function handle_update(e) {
                e.preventDefault()
                let { hash } = window.payload
                let formData = new FormData()

                for (item of e.target) {
                    
                    let { type, name, value } = item
                    if (!value) {
                        continue
                    }

                    if (name === 'age') {
                        value *= 1
                    }
                    
                    if (type !== 'submit' && name !== 'avatar') {
                        let err = window.valicate({ [name]: value })
                        err && alert(`${name}格式有誤`)
                        console.log('格式沒問題')
                    }

                    let data = name === 'avatar' ? item.files[0] : value
                    formData.append(name, data)
                    
                }
                
                let {
                    data: {
                        errno,
                        data,
                        msg
                    }
                } = await axios.patch(window.payload.api, formData)

                if (errno) {
                    alert(msg)
                } else {
                    window.data.me = data
                    alert('資料更新完成!')
                }
            }

            //  handle - 設置 avatar 相關資訊
            async function handle_valicator_avatar() {
                let { avatar_hash } = window.data.me
                let file = $avatar.prop('files')[0]
                let reg_ext = /.+\.(.*)$/

                //  校驗檔案格式(jpg png)
                let ext = reg_ext.exec(file.name)[1]
                ext = ext.toLowerCase().trim()
                if (ext !== 'jpg' && ext !== 'png') {
                    resetPayload()
                    alert('只能傳jpg跟png啦!')
                    return
                }

                //  確認更新的 avatar 是否與原 avatar 相同
                let hash = await _getMD5Hash(file)
                if (hash === avatar_hash) {
                    resetPayload()
                    alert('你的頭現在就是這樣啦! ok?')
                    return
                }

                //  通過校驗
                UI_input($avatar, true)
                window.payload = { hash, ext, api: `${window.payload.api}?hash=${hash}&ext=${ext}` }
                return
            }

            //  計算 avatar hash
            function _getMD5Hash(file) {
                return new Promise((resolve, reject) => {
                    let fr = new FileReader()
                    fr.addEventListener('load', (evt) => {
                        if (fr.readyState === FileReader.DONE) {
                            let hash = SparkMD5.ArrayBuffer.hash(fr.result)
                            console.log('計算出的hash => ', hash)
                            resolve(hash)
                        }
                    })
                    fr.addEventListener('error', (error) => {
                        console.log('fr load 發生錯誤 => ', error)
                        reject(error)
                    })
                    fr.readAsArrayBuffer(file)
                })
            }

            //  handle - 是否重新選擇要上傳的頭像
            function handle_resetAvatar(e) {
                if (!$avatar.prop('files')[0]) {
                    return
                }
                if (confirm('要重新傳一顆頭嗎?')) {
                    resetPayload()
                } else {
                    e.preventDefault()
                }
                return
            }

            //  handle - 驗證 input 資料(除了avatar)
            function handle_valicate(e) {
                let me = window.data.me
                let $el = $(e.target)
                let key = $el.attr('name')
                let val = $el.val().trim()

                if (!val) {   //  如果沒有值，那就沒事
                    //  移除提醒
                    UI_input($el)
                    return
                }

                if (key === 'age') {    //  如果是age，將類型轉為number
                    val *= 1
                }

                if (val === me[key]) {  //  如果是既有值，發生錯誤
                    //  顯示錯誤提醒
                    UI_input($el, false, '現在就是了，賣鬧')
                    return
                }

                //  如果是有效值，使用ajv校驗
                let msg = window.valicate({ [key]: val })
                //  若校驗有問題
                if (msg) {
                    
                    //  顯示錯誤提醒
                    UI_input($el, false, msg)
                    return
                }

                //通過校驗，顯示ok提醒
                UI_input($el, true)
            }

            //  重製 window.payload 與 input[type=file]
            function resetPayload() {
                $avatar.val('')
                window.payload = {
                    hash: undefined,
                    ext: undefined,
                    api: '/api/user'
                }
                UI_input($avatar)
            }
     
            //  用來改變input的UI
            function UI_input($inp, status, msg) {
                // $inp.next().toggleClass('my-show', true).text('loading...')
                switch (status) {
                    case true:  //  valid
                        $inp.removeClass('is-invalid').addClass('is-valid')
                        $inp.next().removeClass('invalid-feedback myshow').addClass('valid-feedback').text('ok')
                        break
                    case false: //  invalid
                        $inp.removeClass('is-valid').addClass('is-invalid')
                        $inp.next().removeClass('valid-feedback myshow').addClass('invalid-feedback').text(msg)
                        break
                    default:    //  empty
                        $inp.removeClass('is-valid is-invalid')
                        $inp.next().removeClass('invalid-feedback valid-feedback myshow').text('')
                }
                //  UI submit
                valicate_submit()
            }

            //  校驗submit權限
            function valicate_submit() {
                let num_valid = 0
                let num_invalid = 0
                $('input').each((index, item) => {
                    $(item).hasClass('is-valid') && num_valid++
                    $(item).hasClass('is-invalid') && num_invalid++
                })
                let ok = num_valid > 0 && num_invalid < 1
        
                $submit.prop('disabled', !ok)
            }

            //  初始化驗證器(用來校驗file以外的資料)
            function init_valicatorForInput() {
                $submit.prop('disabled', true)

                let Ajv = window.ajv7
                let ajv = new Ajv()

                const schema_common = {
                    type: 'object',
                    properties: {
                        email: {
                            type: 'string',
                            pattern: '^[a-z0-9][a-z0-9-_\.]+@([a-z]|[a-z0-9]?[a-z0-9-]+[a-z0-9])\.[a-z0-9]{2,10}(?:\.[a-z]{2,10})?$'
                        },
                        nickname: {
                            type: 'string',
                            // pattern: '^[\\w]+$',
                            pattern: '^[\\u4e00-\\u9fa5\\w]+$',
                            minLength: 2,
                            maxLength: 20,
                        },
                        password: {
                            type: 'string',
                            pattern: '^[\\w]+$',
                            minLength: 6,
                            maxLength: 32,
                        },
                        age: {
                            type: 'number',
                            minimum: 1,
                            maximum: 120,
                        }
                    }
                }

                let valicator = ajv.compile(schema_common)

                let errorMsg = {
                email: {
                    pattern: '必須符合email格式'
                },
                nickname: {
                    pattern: '必須由是中文或英文組成',
                    minLength: '必須2個字以上',
                    maxLength: '必須20個字以下',
                },
                password: {
                    pattern: '只能由數字、英文、底線_組成',
                    minLength: '必須6個字以上',
                    maxLength: '必須32個字以下',
                },
                age: {
                    minimum: '年齡必須大於0，且只能是整數',
                    maximum: '年齡必須小於120，且只能是整數'
                }
            }


                window.valicate = (data) => {
                    let key = Object.keys(data)[0]
                    if (!valicator(data)) {
                        let [{ keyword }] = valicator.errors
                        return errorMsg[key][keyword]
                    }
                    return null
                }
            }

        })
    </script>
</body>

</html>