<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="aa" method="POST" action="/tt-www" enctype="application/x-www-form-urlencoded">
        <input type="text" name="a">
        <input type="text" name="b">
        <input type="submit" value="GO">
    </form>
    <script>
        //  document.querySelector('#aa').addEventListener('submit', (e) => {
        //     e.preventDefault()
        //  })
    </script>
    <form id="upload">
        <input type="file" name="avatar" id="">
        <input type="submit" value="GO">
    </form>
    <%- include('wedgets/cdn') %>
    <script>
        const from = document.querySelector(`#upload`)
        const ipt_file = document.querySelector(`input[type='file']`)
        const ipt_submit = document.querySelector(`input[type='submit']`)
        let blob
        const getBlobFromFile = (file) => {
            return new Promise( ( resolve, reject) => {
                const fr = new FileReader()
                fr.addEventListener('loadstart', (e) => {
                    console.log('檔案傳入Browser --- start')
                })
                fr.addEventListener('loadend', (e) => {
                    console.log('檔案傳入Browser --- end')
                })
                fr.addEventListener('load', (e) => {
                    console.log('檔案傳入Browser --- finish')
                    resolve(fr.result)
                })
                fr.addEventListener('error', (e) => {
                    console.log('檔案傳入Browser --- error')
                    reject('失敗了啦')
                })
                fr.readAsArrayBuffer(file)
            })
        }
        const handleChange = async (e) => {
            try{
                const file = e.target.files[0]
                blob = await getBlobFromFile(file)
            }catch(e){
                console.log('@@ => e')
            }
        }
        let formData
        const handleSubmit = async (e) => {
            e.preventDefault()
            formData = new FormData()
            //formData.append('image', ipt_file.files[0])
            formData.append('image', new Blob([blob], { type: 'image/jpeg'}))
            //console.log(formData)
            try{
                let res = await axios({
                    method: 'POST',
                    url: '/tt-www',
                    headers: {
                       'Content-Type': 'multipart/form-data',
                    //  'content-type' : 'application/octet-stream',
                    },
                    data: formData
                })
                console.log('@ => ', res)
                if(res.data.errno){
                    console.log(res.data.msg)
                }else{
                    console.log(res.data.data)
                }
            }catch(e){
                console.log('error => ', e)
            }
        }
        ipt_file.addEventListener('change', handleChange )
        from.addEventListener('submit', handleSubmit)
    </script>
</body>
</html>