<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>123</title>
</head>

<body>
    <img src="" alt="" id="imgg">
    <input type="file" name="image" id="file">
    <%- include('wedgets/cdn') %>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js"
        import { getAuth, signInWithCustomToken, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-auth.js"
        import { getStorage, ref, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-storage.js"

        const firebaseConfig = {
            apiKey: "AIzaSyC-1ETuNasVhkg7e8J7Dn-Z7SZ1sYF1A6w",
            authDomain: "gfb20220419.firebaseapp.com",
            projectId: "gfb20220419",
            storageBucket: "gfb20220419.appspot.com",
            messagingSenderId: "528606625067",
            appId: "1:528606625067:web:2543667a1fd4923f51196e",
            measurementId: "G-1K5GM9LKGN"
        };

        const app = initializeApp(firebaseConfig)
        console.log(app)
        const auth = getAuth(app)
        console.log('@auth => ', auth)
        const storage = getStorage(app);
        console.log('@storage => ', storage)

        var file = document.getElementById('file')

        file.addEventListener('change', async (e) => {
            try {
                const file = e.target.files[0]
                let formData = new FormData()
                formData.append('image', file)
                console.log('@formData OK')
                const { data: { errno, data, msg} } = await axios.post('/api/file', formData)
                if (!errno) {
                    let _ref = data.ref
                    console.log('@_ref => ', _ref)
                    const ref_img = ref(storage, _ref);
                    const url = await getDownloadURL(ref_img)
                    console.log('@url => ', url)
                    let img = document.getElementById('imgg')
                    img.src = url
                }
            } catch (e) {
                console.log(e)
            }

        })

        let user
        async function tt() {
            const token = await axios.post('/api/customToken', { user: 'test' })
            const userCredential = await signInWithCustomToken(auth, token.data)
            user = userCredential.user
            console.log('@user => ', user)
        }

        (
            async () => {
                try {
                    await tt()
                } catch (e) {
                    console.log('@e => ', e)
                    console.log('@e.code => ', e.code)
                    console.log('@e.msg => ', e.message)
                }
            }
        )()
    </script>
</body>

</html>