* {
    font-family: 'Noto Sans TC', 'consolas';
    ;
}

body {
    background: rgb(216, 62, 15);
}

.main, .footer {
    background: rgb(219, 159, 159);
    padding-top: 1rem;
    position  : relative;
    top       : 4rem;
}

.my-show {
    display: block
}

.my-noshow {
    display: none
}