* {
    font-family: 'Libre Baskerville', 'Noto Sans TC', 'consolas';
    ;
}

body {
    background: rgb(216, 62, 15);
}

.main, .footer {
    background: rgb(219, 159, 159);
    padding: 1rem;
}
.main {
    margin-top: 4rem;
}
.footer {
    margin-top: 1rem;
}

.my-show {
    display: block
}

.my-noshow {
    display: none
}