<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid flex-nowrap">
        <a class="navbar-brand" href="/square">KOA-BLOG</a>

        <ul class="nav nav-pills ms-auto me-3 order-md-2" id="my-navbar-header-register">
            
        </ul>
        <!-- 收合鈕 navbar-toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 收合內容 navbar-collapse -->
        <div class="offcanvas offcanvas-start order-md-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <!-- 表單列 -->
            <div class="offcanvas-body">
                <ul class="navbar-nav w-100">
                    <!-- 表單項 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/square">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
