<div data-my-data="me">
    <%= JSON.stringify(me) %>
</div>
<div data-my-data="newsList">
    <%= JSON.stringify(newsList) %>
</div>

<script defer src="/js/navbar/logout.js"></script>
<script defer src="/js/navbar/news.js"></script>