<div data-my-data="me">
    <%= JSON.stringify(me) %>
</div>

<script defer src="/js/navbar/initData-base.js"></script>
<script defer src="/js/navbar/news.js"></script>
<!-- <script defer src="/js/navbar/comment.js"></script> -->
<script defer src="/js/navbar/logout.js"></script>