<li data-<%= CONS.PAGES.USER.DATASET.KEY.PAGE_NUM %>="<%%= page %>" class="fade <%%= page === 1 ? 'show' : '' %>">
  <ul class="list-group list-group-flush">
    <%% blogs.forEach( ( {id, author_id, title, time } ) => { %>
    <li data-<%= CONS.PAGES.USER.DATASET.KEY.BLOG_ID %>="<%%= id %>" class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
      <div class="text-truncate me-3">
        <a class="stretched-link" href="/blog/<%%= id %>">
          <%%= title %>
        </a>
      </div>
      <div class="d-none d-sm-block">
        <span class="timestamp">上一次編輯<%%= time %></span>
      </div>
      <%% if(isSelf){ %>
      <div class="flex-shrink-0" style="z-index: 200;">
        <a class='btn btn-outline-primary btn-sm' href="/blog/edit/<%%= id %>?owner_id=<%%= author_id %>">編輯</a>
        <a class='btn btn-outline-primary btn-sm' data-<%= CONS.PAGES.USER.DATASET.KEY.REMOVE_BLOG %>=<%= CONS.PAGES.USER.DATASET.VALUE.REMOVE_BLOG_ITEM %>>刪除</a>
      </div>
      <%% } %>
    </li>
    <%% }) %>

    <!-- 填補START -->
    <%% if(blogs.length < 5) {%>
    <%% for(let i=5 - blogs.length; i> 0; i-- ){ %>
    <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
      <div class="text-truncate me-3">
        <span class="invisible">x</span>
      </div>
      <%% if(isSelf){ %>
      <div class="flex-shrink-0 invisible">
        <a class='btn btn-outline-primary btn-sm'>編輯</a>
        <a class='btn btn-outline-primary btn-sm'>刪除</a>
      </div>
      <%% } %>
    </li>
    <%% } %>
    <%% } %>
    <!-- 填補END -->
  </ul>
</li>