<li class="card" data-<%= CONS.PAGES.USER.DATASET.KEY.FANS_ID %>="<%%= me.id %>">
  <div class="ratio ratio-1x1">
    <img src="<%%= me.avatar %>" class="card-img-top" alt="">
  </div>
  <div class="text-truncate">
    <a href="/other/<%%= me.id %>" class="stretched-link">
      <%%= me.nickname %>
    </a>
  </div>
</li>