/* blog CSS */
@import "./common/basic.css";

.fill-item {
  text-align: center;
}

.fill-item > a {
  text-decoration: none;
}

.fill-item > a::before {
  content: "--";
  color: darkgray;
}

.blogList {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5rem;
}

.blogList-header {
  display: flex;
}
.blogList-header > h5 {
  margin: 0;
}

.blogList > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-page] {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.pagination .pagination > .page-item .page-link {
  border-radius: 0;
}

.pe-none {
  opacity: 0.5;
}

.active > .page-link.pe-none {
  opacity: 1;
}

.list-group-item > span {
  font-size: 0.5rem;
}
