/* register&login.css */
@import "./common/basic.css";
@import "./utils/truncate.css";
@import "./component/blogList.css";

#user-info,
#blog-info,
#follow-info {
  margin-bottom: 1rem;
}

img {
  border-radius: 50% 50%;
}
/* user info */
.avatar-box {
  padding: 1rem;
}
.avatar-box img {
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
}

/* follow info */
#follow-info .card-header > h5 {
  margin-bottom: 0;
}

#follow-info > .card {
  margin-bottom: 1rem;
}

#follow-info > .card > .card-body {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
}

#follow-info > .card > .card-body:hover {
  background-color: rgba(219, 159, 159, 0.2);
}
#follow-info > .card > .card-body > ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

li[data-user-id] {
  /* min-width: 5rem; */
  width: 6rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  flex-shrink: 0;
  margin-right: 0.25rem;
  padding: 0.25rem;
  text-align: center;
}

li[data-user-id]:hover {
  background-color: rgba(219, 159, 159, 0.5);
}

li[data-user-id]:last-child {
  margin-right: 0;
}

li[data-user-id] a {
  text-decoration: none;
}

/* blogList */
.blogList > .card-header {
  display: flex;
  justify-content: space-between;
}

.blogList > .card-header > .btn {
  margin-left: auto;
  margin-right: 0;
}

.pane-loading {
  position: relative;
  cursor: none;
  pointer-events: none;
}

.pane-loading::after {
  position: absolute;
  content: "loading";
  display: inline-block;
  line-height: 1.5;
  font-size: 50px;
  text-align: center;
  top: calc(50% - 38px);
  right: 0;
  left: 0;
}

@media (max-width: 575.9px) {
  #user-info .avatar-box {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 12rem;
    margin: 0 auto;
  }

  #user-info .card-body {
    text-align: center;
  }

  .card-title,
  .card-body > hr {
    display: none;
  }

  .card-title {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
  }

  .card-body > p {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 576px) {
  .relationShip-list-box > ul > li {
    /* min-width: 5rem; */
    width: 5rem;
  }
}

@media (min-width: 992px) {
  .relationShip-list-box > ul > li {
    /* min-width: 6rem; */
    width: 6rem;
  }
}

@media (min-width: 1200px) {
  .relationShip-list-box > ul > li {
    /* min-width: 7rem; */
    width: 7rem;
  }
}
