<%% var blogData = blogs[isPublic ? 'public' : 'private'] %>
<div class="card blogList bg-light" data-show="<%%= isPublic %>" data-selector="blog_list">
  <div class="card-header blogList-header align-items-center">
    <h5><%%= isPublic ? '公開的BLOG' : '編輯中的BLOG' %></h5>
    <%% if(isSelf && blogData.count) { %>
    <button type="button" class="btn btn-sm btn-outline-danger" data-action="removeBlogs">全部刪除</button>
    <%% } %>
  </div>
  <%% if(blogData.count){ %>
  <ul>
    <%% let page = 1 %>
    <%% let blogs = blogData.blogs %>
    <%- include('blogList') %>
  </ul>
  <%% if (blogData.count> 1) { %>
  <nav aria-label="...">
    <ul class="pagination" data-piece="0" id="hidden-list">
      <li class="page-item">
        <a class="page-link pe-none" href="#" data-turn="back">
          << </a>
      </li>
      <li class="page-item">
        <a class="page-link pe-none" href="#" data-turn="minus">Previous</a>
      </li>
      <%% var totalPage=Math.ceil(blogData.count / 5) %>
      <%% for(let page_num=1; totalPage>= page_num; page_num++){ %>
      <%% if((page_num % 2)===1){ %>
      <!-- 除5若無餘數，要有ul li -->
      <ul id="pagination-<%%= Math.ceil(page_num / 2) %>" class="pagination">
        <%% } %>
        <!-- 除5無論有無餘數，都要li -->
        <li class="page-item <%%= page_num === 1 ? 'active' : '' %>">
          <a class="page-link" href="#" data-turn="<%%= page_num %>">
            <%%= page_num %>
          </a>
        </li>
        <%% if( !(page_num % 2) || page_num===totalPage ){ %>
      </ul>
      <%% } %>
      <%% } %>
      <li class="page-item">
        <a class="page-link" href="#" data-turn="plus">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" data-turn="front"> >> </a>
      </li>
    </ul>
  </nav>
  <%% } %>

  <%% } else { %>
  <p class="p-3">沒有<%%= isPublic ? '公開' : '編輯中' %>的BLOG <%%= blogs.public.count %>
  </p>
  <%% } %>
</div>