<div style="display: none;">
  <%% for(let type in locals){ %>
    <%% if( TEMPLATEtype==="blogs" || type==="currentUser" || type==="relationShip" || type==="blog" || type==="album" ){ %>
      <div data-my-data="<%%= type %>">
        <%%- JSON.stringify(locals[type]) %>
      </div>
      <%% } %>
        <%% } %>
</div>