<div style="display: none;">
  <%%
      let user = ['currentUser', "relationShip", 'blogs'] 
      let blog = ['blog']
      let album = ['album'] 
      let whiteList = [...user, ...blog, ...album] 
  %>
  <%% for(let type in locals){ %>
  <%% if( whiteList.some(item => item === type)){ %>
  <div data-my-data="<%%= type %>">
    <%%- JSON.stringify(locals[type]) %>
  </div>
  <%% } %>
  <%% } %>
</div>