/* loadingBackdrop.css */
#loadingBackdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255,.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingBackdrop > div {
    color: black;
    font-size: 50px;
}